h1 , p{
    background: -webkit-linear-gradient(180deg, #3e9ea8, #51c9c3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lucida Console,  monospace;
    text-align: center;
    font-weight: 1000;
}

h1{
    font-size: 75px;
}
p{
    font-size: 20px;
}

/* Form Styling */

input[type =text]{
    border: 1px solid lightseagreen;
    width: 21%;
    padding: 2px 5px;
    box-sizing: border-box;
}
/* Background */
body::before {
    content: "";
    background-image: url("https://cdn.pixabay.com/photo/2017/05/11/08/37/universe-2303321_1280.jpg");
    opacity: 0.30;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.text_Background {
    position: relative;
    z-index: 1;
}

.text_Background .tbg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: dimgray;
    opacity: .5;
    width: 100%;
    height: 100%;
    border-radius: 15px 50px 50px 15px;
}

.footer{
    position: fixed;
    bottom: 1px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
}

a:link {
    color: lightseagreen;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: darkblue;
}
